@font-face {
    font-family: 'DDT';
    src: url('https://www.hardik.pw/font/DDTRg-Regular.eot');
    src:url('https://www.colouredflower.github.io/dl/font/DDTRg-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://colouredflower.github.io/dl/font/DDTRg-Regular.woff2') format('woff2'),
        url('https://www.colouredflower.github.io/dl/font/DDTRg-Regular.woff') format('woff'),
        url('https://www.colouredflower.github.io/dl/font/DDTRg-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
